<div class="container user-card-item">
    <div class="user-card-content">
        <h3 class="username-title">David Roško</h3>
        <div>
            <div class="user-card-info">
                <a><img class="icon" src="/content/images/cake.svg" />6.1. (16 dni)</a>
            </div>
            <div class="user-card-info">
                <a><img class="icon" src="/content/images/gift.svg" />6 / 5</a>
            </div>
        </div>
        <div class="user-card-more-info">
            <img class="icon" src="/content/images/arrow-down.svg" />
        </div>
    </div>
</div>